<%- include("partials/header.ejs") -%>

<h2>welcome user</h2>
  <span><strong>userName:</strong> <%= user.userName %></span>
  <span><strong>email:</strong> <%= user.email %></span>


<a href="/logout">logout user</a>

<%- include("partials/footer.ejs") -%>